.main
    height: 200px
    overflow: auto

.new-todo
    background-color: green

    &:focus
        outline: none
.left-buffer
    margin-left: 10px

.completed
    text-decoration: line-through

.notcompleted
