
$label-color: rgba(0,0,0,.54)
    
.customLabel
    height: 10px
    color: $label-color
    font-size: 13px
    margin-bottom: 0.5rem
    margin-top: -5px !important

.importanceSelector
    height: 35px
