<form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="row">
                <div class="col">
                    <mat-form-field>
                            <input name="monthAndYear" matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">
                            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                            <mat-datepicker #dp
                                            startView="multi-year"
                                            (yearSelected)="chosenYearHandler($event)"
                                            (monthSelected)="chosenMonthHandler($event, dp)"
                                            panelClass="example-month-picker">
                            </mat-datepicker>
                            </mat-form-field>
                              
                </div>
                <div class="col">
                    <label for="importance" class="customLabel">Importance</label>
                    <select required ngModel name="importance" class="form-control importanceSelector" id="importance">
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                      </select>                
                </div>
            </div>
        <div class="row">
          <div class="col">
            <label for="institution" class="customLabel">Institution</label>
            <label id="createInstitutionButton" type="button" class="customLabel left-buffer" (click)="open(createIntitutionModal)">Create new</label>
            <select required ngModel name="institution" class="form-control institutionSelector" id="institution">
                <option *ngFor="let institution of availableInstitutions" [value]="institution">{{institution}}</option>
              </select>                
        </div>
        </div>
        <div class="row top-buffer">
          <label for="documentTitle" class="customLabel">Document Title</label>
          <input required minlength="2" ngModel type="text" name="documentTitle" class="form-control">
        </div>
        <div class="row top-buffer">
            <label for="details" class="customLabel">Details</label>
          <textarea ngModel class="form-control" name="details" id="documentDetails" rows="3"></textarea>
        </div>
        <div class="row top-buffer">
            <button [disabled]="f.form.invalid||noImportedDocument" type="submit" class="btn btn-outline-dark btn-lg btn-block">Save Document</button>
        </div>


</form>


<ng-template #createIntitutionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ul>
          <li *ngFor="let institution of availableInstitutions">{{institution}}</li>
        </ul>
        <label for="createNewInstitution">Add Institution</label>
        <div class="input-group">
          <input type="text" name="newInstitution" id="createNewInstitution" class="form-control" [(ngModel)]="newInstitution" >
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addNewInstitution(newInstitution)">add</button>
  </div>
</ng-template>
