<h1 class="top-buffer">Overview</h1>
<hr>

<div class="container">
    
    <div class="row justify-content-between">
            <div class="col-xs-8 col-sm-10 col-md-12">
                <app-to-do-list></app-to-do-list>                
            </div>
    </div>

    <div class="row justify-content-between top-buffer">
        <div class="col-xs-8 col-sm-6 col-md-4">
            <app-data-summary></app-data-summary>            
        </div>

        <div class=" col-xs-4 col-sm-6 col-md-7">
            
        </div>
    </div>