
<h1 class="top-buffer">User Profile</h1>
<hr>
<div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2">
                    <img src="http://thetransformedmale.files.wordpress.com/2011/06/bruce-wayne-armani.jpg"
                    alt="" class="img-rounded img-responsive" />
            </div>

            <div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-2">
                  
                <h2><fa-icon [icon]="faUser"></fa-icon>Joachim Gönnheimer</h2>
                <br>
                <p><fa-icon [icon]="faEnvelope"></fa-icon>joachim.goennheimer@gmx.de</p>
                <p><fa-icon [icon]="faBirthdayCake"></fa-icon>22.01.1994</p>
                <p>User since 10.2019</p>
            </div>
        </div>
</div>

    
    