
<div class="container-fluid">

    <div class="row justify-content-between top-buffer">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <div class="row justify-content-between">
                <div class="col-xs-12 col-sm-12 col-md-12 docListArea">
                    <app-doc-list></app-doc-list>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 pdfFrameArea">
                <app-pdf-frame></app-pdf-frame>            
        </div>
    </div>
